<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/home}">

<div layout:fragment="content">
                
  
             <div class="title">
                <h2>Simple Job Management Service</h2>
                <h3 sec:authorize="!hasAuthority('USER') && !hasAuthority('ADMIN')">Please login to continue</h3>
                <hr>
            </div>
            <div sec:authorize="hasAuthority('USER') || hasAuthority('ADMIN')" >
            <div class="tab" style="width:50%">
	            <button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Now')">Run Batch now</button>
	               
				<button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Minutes')">Minutes</button>
				<button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Hours')">Hours</button>
				<button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Daily')">Daily</button>
				<button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Weekly')">Weekly</button>
				<button class="tablinks"
					onclick="openBatchFrequencyTab(event, 'Monthly')">Monthly</button>
			</div>

		<!-- Tab content -->
			<!-- Tab content -->
		<div id="Now" class="tabcontent" style="display: block">
			<h3>Run Batch now</h3>
			<form action="#">
				Please select the batch from dropdown below to run now: 
				<br> 
				<select id="selectedBatchName" onChange="$('#batchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> 
				<br> 
				<br> 
				<input type="button" id="runBatchBtn"
					value="Run Selected Batch Now" class="btn sm btn-success" /> 
				<br>
				<br>
				<div id="batchRunResult"></div>
			
			</form>

		</div>
		
		<div id="Minutes" class="tabcontent">
			<h3>Minutes</h3>
			<p>
				Schedule batch every <select style="width: 5%" id="minutes">
					<option selected="selected" value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>

				</select> minutes(s)
			</p>
			<form action="#">
				Please select the batch from dropdown below to schedule to run in minutes now: <br>
				<select id="selectedMinutesBatchName"
					onChange="$('#minutesBatchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> <br> <br> <input type="button" id="runMinutesBatchBtn"
					value="Schedule Selected Minutes Batch Now" class="btn sm btn-success" />
				<br> <br>
				<div id="minutesBatchRunResult"></div>
			</form>

		</div>

		<div id="Hours" class="tabcontent">
			<h3>Schedule Job to run in Hours</h3>
			<p>
				Every <select style="width: 5%" id="hourly">
					<option selected="selected" value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="12">12</option>

				</select> hour(s)
			</p>
			<form action="#">
				Please select the batch from dropdown below to schedule to run hourly now: <br>
				<select id="selectedHourlyBatchName"
					onChange="$('#hourlyBatchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> <br> <br> <input type="button" id="runHourlyBatchBtn"
					value="Schedule Selected hourly Batch Now" class="btn sm btn-success" />
				<br> <br>
				<div id="hourlyBatchRunResult"></div>
			</form>
		</div>

		<div id="Daily" class="tabcontent">
			<h3>Schedule Daily to run job, starting at : </h3>
			<p>
				<select id="dailyHour">
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option selected="selected" value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select> : <select id="dailyMinutes">
					<option selected="selected" value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					<option value="32">32</option>
					<option value="33">33</option>
					<option value="34">34</option>
					<option value="35">35</option>
					<option value="36">36</option>
					<option value="37">37</option>
					<option value="38">38</option>
					<option value="39">39</option>
					<option value="40">40</option>
					<option value="41">41</option>
					<option value="42">42</option>
					<option value="43">43</option>
					<option value="44">44</option>
					<option value="45">45</option>
					<option value="46">46</option>
					<option value="47">47</option>
					<option value="48">48</option>
					<option value="49">49</option>
					<option value="50">50</option>
					<option value="51">51</option>
					<option value="52">52</option>
					<option value="53">53</option>
					<option value="54">54</option>
					<option value="55">55</option>
					<option value="56">56</option>
					<option value="57">57</option>
					<option value="58">58</option>
					<option value="59">59</option>
				</select>
			</p>
			<div class="form-inline ">
				<label class="form-check-label"> <input
					class="form-check-input mb-1" type="radio" name="daily"
					value="everyday" checked="checked"> Everyday
				</label>
			</div>


			<div class="form-inline mt-3">
				<label class="form-check-input"> <input
					class="form-check-input mb-1" type="radio" name="daily"
					value="weekday"> Every weekday
				</label>
			</div>
			<form action="#">
				Please select the batch from dropdown below to schedule to run daily now: <br>
				<select id="selectedDailyBatchName"
					onChange="$('#dailyBatchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> <br> <br> <input type="button" id="runDailyBatchBtn"
					value="Schedule Selected Daily Batch Now" class="btn sm btn-success" />
				<br> <br>
				<div id="dailyBatchRunResult"></div>
			</form>
		</div>
		<div id="Weekly" class="tabcontent">
			<h3>schedule to run weekly, starting at : </h3>
			<p>
				<select id="weeklyHour">
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option selected="selected" value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select> : <select id="weeklyMinutes">
					<option selected="selected" value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					<option value="32">32</option>
					<option value="33">33</option>
					<option value="34">34</option>
					<option value="35">35</option>
					<option value="36">36</option>
					<option value="37">37</option>
					<option value="38">38</option>
					<option value="39">39</option>
					<option value="40">40</option>
					<option value="41">41</option>
					<option value="42">42</option>
					<option value="43">43</option>
					<option value="44">44</option>
					<option value="45">45</option>
					<option value="46">46</option>
					<option value="47">47</option>
					<option value="48">48</option>
					<option value="49">49</option>
					<option value="50">50</option>
					<option value="51">51</option>
					<option value="52">52</option>
					<option value="53">53</option>
					<option value="54">54</option>
					<option value="55">55</option>
					<option value="56">56</option>
					<option value="57">57</option>
					<option value="58">58</option>
					<option value="59">59</option>
				</select>
			</p>
			<p>
			<div class="row">
				<div class="col-1">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input" id="weekDays" value="MON">
							Monday
						</label>
					</div>
				</div>

				<div class="col-1">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input ml-4" id="weekDays" value="TUE">
							Tuesday
						</label>
					</div>
				</div>
				<div class="col-1">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input ml-4" id="weekDays" value="WED">
							Wednesday
						</label>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input ml-4" id="weekDays" value="THU">
							Thursday
						</label>
					</div>
				</div>
			</div>

			<div class="row mt-1">
				<div class="col-1">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input" id="weekDays" value="FRI">
							Friday
						</label>
					</div>
				</div>

				<div class="col-1">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input ml-4" id="weekDays" value="SAT">
							Saturday
						</label>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-inline ">
						<label class="form-check-label"> <input type="checkbox"
							class="form-check-input ml-4" id="weekDays" value="SUN">
							Sunday
						</label>
					</div>
				</div>
			</div>
			<form action="#">
				Please select the batch from dropdown below to run weekly now: <br>
				<select id="selectedWeeklyBatchName"
					onChange="$('#weeklyBatchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> <br> <br> <input type="button" id="runWeeklyBatchBtn"
					value="Schedule Selected weekly Batch Now" class="btn sm btn-success" />
				<br> <br>
				<div id="weeklyBatchRunResult"></div>
			</form>
		</div>
		<div id="Monthly" class="tabcontent">
			<h3>Schedule Job to run Monthly, starting at :</h3>
			<p>
				<select id="monthlyHour">
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option selected="selected" value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select> : <select id="monthlyMinutes">
					<option selected="selected" value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
					<option value="7">07</option>
					<option value="8">08</option>
					<option value="9">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
					<option value="32">32</option>
					<option value="33">33</option>
					<option value="34">34</option>
					<option value="35">35</option>
					<option value="36">36</option>
					<option value="37">37</option>
					<option value="38">38</option>
					<option value="39">39</option>
					<option value="40">40</option>
					<option value="41">41</option>
					<option value="42">42</option>
					<option value="43">43</option>
					<option value="44">44</option>
					<option value="45">45</option>
					<option value="46">46</option>
					<option value="47">47</option>
					<option value="48">48</option>
					<option value="49">49</option>
					<option value="50">50</option>
					<option value="51">51</option>
					<option value="52">52</option>
					<option value="53">53</option>
					<option value="54">54</option>
					<option value="55">55</option>
					<option value="56">56</option>
					<option value="57">57</option>
					<option value="58">58</option>
					<option value="59">59</option>
				</select>
			</p>
			<div class="form-inline">
				 Day <select
					style="width: 5%" id="dayOfMonth">
						<option selected="selected" value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>

				</select>of every<select class="form-control ml-1 mr-1" id="months">
						<option selected="selected" value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="6">6</option>
				</select> month(s)
				

			</div>
			<form action="#">
				Please select the batch from dropdown below to schedule to run in monthly now: <br>
				<select id="selectedMonthlyBatchName"
					onChange="$('#monthlyBatchRunResult').html('');">
					<option th:each="entry : ${batchMap.entrySet()}"
						th:value="${entry.key}" th:text="${entry.value}"></option>
				</select> <br> <br> <input type="button" id="runMonthlyBatchBtn"
					value="Schedule Selected Monthly Batch Now" class="btn sm btn-success" />
				<br> <br>
				<div id="monthlyBatchRunResult"></div>
			</form>
</div>
		</div>
		</div>
</html>